<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- 引入样式 -->
        <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
        <!--适用于主要访问来自中国大陆地区用户的业务场景-->
        <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
    </head>
    <body>
        <div id="app" name="app">
            <el-form id="mobile" label-width="80px">
                <el-form-item label="shoujihao">
                    <el-input v-model="mobile_no" id="mobile_no" placeholder="mobile_no" clearable/> 
                </el-form-item>
            </el-form>
            <!-- <div id="mobile" value="mobile">
                shoujihao : <el-input v-model="mobile_no" id="mobile_no" placeholder="mobile_no" clearable/> 
            </div> -->
            <!--No-Captcha渲染的位置，其中 class 中必须包含 nc-container-->
            <div id="your-dom-id" class="nc-container"></div>
            <el-form id="info" name="info" hidden>
                <el-form-item label="mima">
                    <el-input v-model="password" id="password" name="password"show-password/> 
                </el-form-item>
                <el-form-item label="nicheng">
                    <el-input v-model="nickname" name="nickname" id="nickname" placeholder="nickname"/>
                </el-form-item>
                <el-form-item label="email">
                    <el-input v-model="mail" name="mail" id="mail" placeholder="email"/>
                </el-form-item>
                <el-button id="next" name="next" @click="next">next</el-button>
            </el-form>
            <el-form id="code" name="code" hidden>
                <el-form-item label="yanzhengma">
                    <el-input v-model="code" name="code" id="code" placeholder="code"/>
                </el-form-item>
                <el-button id="reg" name="reg" @click="reg">reg</el-button>
            </el-form>
        </dev>
        <script type="text/javascript" src="../js/code.js">
        </script>
    </body>

    <!-- import Vue before Element -->
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return { 
                    mobile_no: '11111111111',
                    password:'',
                    nickname:'',
                    mail:'',
                    code:''
                }
            },
            methods: {
                next() {
                    $("#info").hide()
                    $("#code").show()
                },
                reg() {
                    axios.post('http://127.0.0.1:8080/reg', params('mobileNo',this.mobile_no,'password',this.password,'nickname',this.nickname,'code',this.code,'email',this.email))
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
        function params() {
            var params = new URLSearchParams();
            for (var i=0; i< arguments.length; i=i+2) {
                params.append(arguments[i],arguments[i+1])
            }
            return params
        }
    </script>
</html>